@use 'base/variables' as v;
@use 'base/mixins' as m;

.te-esperamos-para {
  	width: 333px;
  	position: relative;
  	display: inline-block;
  	font-weight: 300;
}
.lm {
  	width: 333px;
  	position: relative;
  	font-size: 24px;
  	letter-spacing: 0.1em;
  	font-weight: 500;
  	font-family: 'Noto Serif Display';
  	text-align: right;
  	display: inline-block;
}
.te-esperamos-para-compartir-es-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	z-index: 0;
    
}
.img-superpuesta-container {
  position: relative;
  width: 100%;
  height: 566px; // igual que .dsc0122-1-icon
}
.dsc0122-1-icon {
  	width: 100%;
    height: 566px;
  	position: relative;
  	object-fit: cover;
    padding: 0;
    margin: 0;
  	z-index: 2;
}

.capa-1-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 144px;
  height: 203px;
  margin: 0;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}

.capa-1-icon {
  width: 106px;
  height: 215px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: auto;
  top: auto;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	position: relative;
  	gap: 32px;
}
.bloque-10-despedida {
  	width: 100%;
    height: 128px;
  	position: relative;
  	background-color: #fae7d7;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 32px 10px 0px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 16px;
  	color: #0d0d0d;
    font-family: 'Noto Serif Display';
}

