@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloque-5 {
    background-image: url(../../src/img/galeria/fondo-texturado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}

.galeria-imagenes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    // Eliminamos el padding aquí para que las áreas de control puedan extenderse
}

.imagen-carrusel {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100%;
    z-index: 1;
}

// Estilos para las nuevas áreas de control
.area-control {
    position: absolute;
    top: 0; // Se extiende desde la parte superior
    bottom: 0; // Se extiende hasta la parte inferior
    width: 20%; // Puedes ajustar este porcentaje según qué tan ancho quieras el área de clic
    cursor: pointer;
    z-index: 2; // Asegura que esté por encima de la imagen
    // background-color: rgba(0, 255, 0, 0.2); // Descomenta para visualizar las áreas durante el desarrollo
}

.area-control.izquierda {
    left: 0; // Se posiciona a la izquierda
}

.area-control.derecha {
    right: 0; // Se posiciona a la derecha
}