.foto-bloque1-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 0;
}

.foto-bloque1-img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    max-width: 460px;
}

.scroll-indicador {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 48px;
    height: auto;
    z-index: 2;
    @media (max-width: 460px) {
        width: 32px;
        top: 10px;
        right: 10px;
    }
}